@media screen and (max-width:1024px){
    .presentation{
        flex-direction: column;
    }
    .introduction{
        margin-top: 5vh;
        text-align: center;
    }
    .readmore{
        margin: auto;
        margin-bottom: 10px;
    }
    .cover-h1{
        align-items: center;
        font-size: 40px;
    }
    .cover-p{
        align-items: center;
        font-size: 30px;
        width: 350px;
    }
    .cover-readmore{
        padding: 10px 0px 0px 0px;
        align-items: center;
    }
    .cover-img{
        height: 40vh;
    }
    .second-section{
        flex-direction: column;
    }
    .colage{
        margin-top: 5vh;
        text-align: center;
    }
    .future-technology{
        font-size: 30px;
    }
    
    .colage-imgs{
        flex-direction: column;
    }
    .colage-img1{
        width: 300px;
    }
    .colage-img2{
        width: 300px;
    }
    .colage-img3{
        width: 300px;
    }
    .colage-img4{
        width: 300px;
    }
    .box1{
        width: 100px;
        flex-direction: column;
        margin: auto;
    }
    .box1-img{
        width: 100px;
    }
    .box1 h1{
        font-size: 12px;
    }
    .box1 p{
        font-size: 10px;
    }
    .footer-box{
        width: 300px;
    }
  