*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;

}
.header-logo{
    width: 30px;
    /*margin-top: 15px;
    margin-left: 30px;*/
}
.logo-slogan{
    padding-top: 5px;
    padding-left: 30px;
    color: black;
}
header{
    display: flex;
    height: 10vh;
    width: 90%;
    margin: auto;
    align-items: center;

}
.nav-link{
    display: flex;
    padding: 40px;
    
}
.nav-a{
    color: black;
}
.logo-container,.nav-links{
    display: flex;
}
.logo-container{
    flex: 1;
}
.navigation{
    flex: 0;   
}
.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.cover-img{
    height: 60vh;
    filter: drop-shadow(0px 10px 5px black);
    animation: drop 1.5s ease;
}
.cover-h1{
    font-size: 44px;
    width: 400px;
    background: linear-gradient(to right,#494964,#6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}
.cover-p{
    
    font-size: 22px;
    color: #585772;

}
.readmore{
    display: flex;
    background: linear-gradient(to right,#494964,#6f6f89);
    color:white;
    align-items: center;
    width: 70px;
    height: 30px;
    border: none;
    
}
.cover-readmore{
    margin-top: 10px;
}
@keyframes drop{
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}